
.page-title {
    /*color:#66bb6a;*/
    color:#fb8c00;
}

blockquote {
    border-left: 5px solid #fb8c00;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: #fb8c00;
}
.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
}

.card-progress {
    padding: 5px 0;
}
.card-operation {
    text-align: center;
}
.card-operation > a {
    display: inline-block;
}